@property --orbit {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%;
  }


body {
    background:linear-gradient(45deg, rgba(209, 7, 195, 0.4),rgb(129, 10, 189),rgb(237, 2, 112));
    background-repeat: none;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
}


#user {
border: 1px solid orange;
position: relative;
width: 50px;
display: flex;
top: 250px;
margin: 0 auto;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
/* This creates the 'filling' effect */
background: conic-gradient(orange var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
    
transition: --orbit 0.5s ease;
animation: eaterHealthQrt 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite linear;
animation: eaterHealthHlf 18s cubic-bezier(0.075, 0.82, 0.165, 1) infinite linear;
animation: eaterHealthThreeQrt 17s cubic-bezier(0.075, 0.82, 0.165, 1) infinite linear;

box-sizing: border-box;
}


@keyframes eaterHealthQrt {
    from {
        background: conic-gradient(red var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
    
transition: --orbit 0.5s ease;
    }

        to {
          background: conic-gradient(red var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
    
transition: --orbit 0.5s ease;
    
}

from {
  background: conic-gradient(red var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 

transition: --orbit 0.5s ease;
}

  to {
    background: conic-gradient(red var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
    
transition: --orbit 0.5s ease;

}

from {
  background: conic-gradient(red var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 

transition: --orbit 0.5s ease;
}

  to {
    background: conic-gradient(red var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
    
    transition: --orbit 0.5s ease;
}
}


@keyframes eaterHealthHlf {
  from {
      background: conic-gradient(rgba(249, 72, 72, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
transition: --orbit 0.5s ease;
  }

      to {
        background: conic-gradient(rgba(249, 72, 72, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
        transition: --orbit 0.5s ease;
  
}

from {
  background: conic-gradient(rgba(249, 72, 72, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
  transition: --orbit 0.5s ease;
}

to {
  background: conic-gradient(rgba(249, 72, 72, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
  transition: --orbit 0.5s ease;

}

from {
  background: conic-gradient(rgba(249, 72, 72, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
  transition: --orbit 0.5s ease;
}

to {
  background: conic-gradient(rgba(249, 72, 72, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
  transition: --orbit 0.5s ease;


}
}

@keyframes eaterHealthThreeQrt {
  from {
        background: conic-gradient(rgba(255, 130, 130, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
transition: --orbit 0.5s ease;
  }

      to {
        background: conic-gradient(rgba(255, 130, 130, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
        transition: --orbit 0.5s ease;
  
}

from {
  background: conic-gradient(rgba(255, 130, 130, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
  transition: --orbit 0.5s ease;
}

to {
  background: conic-gradient(rgba(255, 130, 130, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
  transition: --orbit 0.5s ease;

}

from {
  background: conic-gradient(rgba(255, 130, 130, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
  transition: --orbit 0.5s ease;
}

to {
  background: conic-gradient(rgba(255, 130, 130, 0.672) var(--orbit), transparent 0), rgba(255, 165, 0, 0.2); 
  
  transition: --orbit 0.5s ease;


}
}

#game-border {
  border: 1px solid white;

  position: relative;
  overflow: hidden;
  width: 500px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 250px;
  top: 100px;
  height: 350px;
  left: 120px;
  z-index: 1;

}


.germo1, .germo2, .germo3, .germo4{
  border: 1px solid green;
  position: absolute;
  transition:  all 0.6s cubic-bezier(0.075, 0.885, 0.32, 1.275);    
  width: 40px;
  display: flex;
  margin: 0 auto;
  left: 20px;
  top: 150px;
  height: 40px;
  background-color: green;
  border-radius: 50%;

}



/* Optional: Different entry points based on type */
.germo1 { transform: translateX(-150px); } /* Slides from left */
.germo2 { transform: translateY(-150px); } /* Slides from top */
.germo3 { transform: translateX(180px);  } /* Slides from right */
.germo4 {transform: translateX(-180px) }


.slide-in {
opacity: 1 !important;
transform: translate(0, 0) !important;
}


#game-over-screen {
  box-shadow: 0, 0, 30px, 30px white;
}



.juice, .juice1, .juice2 {
    border: 2px solid rgba(255, 255, 255, 0.8);
    width: 20px;
    display: flex;
    margin: 0 auto;
    left: 20px;
    position: absolute;
    pointer-events: none;        

    transition:  all 0.6s cubic-bezier(0.075, 0.885, 0.32, 1.275);
    top: 150px;
    height: 40px;
    background-color: red;
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
}


.juice { transform: translateX(-150px); } /* Slides from left */
.juice1 { transform: translateY(-150px); } /* Slides from top */
.juice2 { transform: translateX(180px);  } /* Slides from right */


.slide-in {
opacity: 1 !important;
transform: translate(0, 0) rotate(360) !important;
}






.meal1, .meal2, .meal3 {
    border-top: 15px solid sandybrown;
    border-bottom: 15px solid sandybrown;
    border-radius: 30%;
    width: 40px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
  align-items: center;

    background-image: linear-gradient(180deg, green, saddlebrown, brown, orange);
    visibility: hidden;

    transition:  all 0.6s cubic-bezier(0.075, 0.885, 0.32, 1.275);
    height: 5px;
    top: -100px;
    background-color: white;
    box-shadow: 0 0 15px 5px rgba(255, 162, 0, 0.7);

  }


  .meal1 { transform: translateX(-150px); } /* Slides from left */
.meal2 { transform: translateY(-150px); } /* Slides from top */
.meal3 { transform: translateX(180px);  } /* Slides from right */


.slide-in {
opacity: 1 !important;
transform: translate(0, 0) rotate(360) !important;
}



#intro-texts {
  position: fixed;
  width: 50%;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  font-size: 20px;
  color: antiquewhite;
  text-decoration-line: none;
  top: 500px;
  font-family: fantasy;
}

#germMouth {
  border: 1px solid black;
  position: fixed;
  border-radius: 50%;
  background-color: black;
  display: flex;
  top: 14px;
  left: 5px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 25px;
}

#timer-box {
  display: none;
    border: 1px solid white;
  background-color:  purple;
  color: white;
  width: 60px;
  height: 55px;
  
  top: 10px;
  right: -35px;
  position: relative;
  
  }


  #home-icon {
    display: flex;
      border: 1px solid white;
      border-radius: 50%;
    background-color:  rgb(0, 183, 255);
    color: white;
    width: 60px;
    height: 55px;

    top: 500px;
    right: 30px;
    position: relative;
    
    }

    #home-button {

display: flex;
position: absolute;
right: 2px;
width: 55px;
height: 35px;
top: 10px;

}

#home-icon:hover {
  display: flex;
border:  2px solid yellow;
}
  
#home-button-text {

  display: flex;
  position: relative;
  color: white;

  justify-content: center;    
  align-content: center;
  vertical-align: center;
  margin: 0 auto;
  top: 18px;
  right: 1px;
  }
    


#game-volume-rangebar {
  display: flex;
  position: absolute;
  margin: 0 auto;
  top: 520px;
  right: 1000px;
  width: 200px;
  height: 10px;
  text-align: left;
  border: 2px solid purple;
  padding: 10px;
  background-color: purple;

border-radius: 10%;
}

#volume-progress {
  display: flex;
  position: absolute;
  margin: 0 auto;
  z-index: 0;
  bottom: 7px;
  left: 20px;
  height: 10px;
  text-align: left;
  border: 2px solid white;
  background-color:  white;
  z-index: 1;
  width: inherit;
  border-radius: 10%;

}

#volume-progress:hover {
  display: flex;
  position: absolute;
  margin: 0 auto;
  z-index: 0;
  bottom: 7px;
  left: 20px;
  height: 10px;
  text-align: left;
  border: 2px solid blue;
  background-color:  white;
  z-index: 1;
  border-radius: 10%;
}

#volume {
  display: flex;
  position: relative;
  margin: 0 auto;
  top: 520px;
  right: 940px;
  text-align: left;
}
  
  .germ-xplode {

    width: 40px !important;
    height: 40px !important;
    background-color: rgba(251, 117, 7, 0.902) !important;
    box-shadow:  inset 0 0  rgba(255, 71, 5, 0.7), inset 0 0 rgba(250, 96, 0, 0.7) !important;
    
  }


  .damage-flash{
    width: 50px !important;
    height: 50px !important;
 

      background-color: bisque !important;
      box-shadow:  inset 0 0  rgba(255, 255, 255, 0.7), inset 0 0 rgba(255, 193, 22, 0.7);

    }
  


